<h2>施設を登録する</h2>
<%= form_for(@room) do |f| %>
  <%= f.label :name %>
  <%= f.text_area :name, required: true %><br>
  <%= f.label :detail %>
  <%= f.text_area :detail, required: true %><br>
  <%= f.label :summary %>
  <%= f.text_area :summary %><br>
  <%= f.label :price %>
  <%= f.number_field :price, required: true %><br>
  <%= f.label :address %>
  <%= f.text_area :address, required: true %><br>
  <%= f.label :room_image %>
  <%= f.file_field :room_image %><br>
  <%= f.submit %>
<% end %>