<h1>Rooms#new</h1>
<%= form_for(@room) do |f| %>
  <%= f.label :name %>
  <%= f.text_area :name %>
  <%= f.label :detail %>
  <%= f.text_area :detail %>
  <%= f.label :summary %>
  <%= f.text_area :summary %>
  <%= f.label :price %>
  <%= f.number_field :price %>
  <%= f.label :address %>
  <%= f.text_area :address %>
  <%= f.file_field :room_image %>
  <%= f.submit %>
<% end %>